:root {
    --primary-light-001: #FAFAFA;
    --primary-light-01: rgba(0, 0, 0, 0.125);
    --primary-light-10: #A9A9A9;
    --primary-light: #686969;
    --primary-dark: rgb(221, 24, 32);
    --primary-dark-80: rgb(221, 24, 32, 0.8);
    --warning: #FB3640;
}

@font-face {
    font-family: opensans;
    src: url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

html,
body {
    height: 100%;
    margin: 0;
}

.dv-site-wrapper {
    min-height: 100%;
}

.dv-content-wrapper {
    padding-bottom: 95px;
}

footer {
    background-color: rgba(0,0,0,0.125);
    background-color: var(--primary-light-01);
    height: 250px;
}

li,
a {
    font-family: opensans;
    color: #A9A9A9;
    color: var(--primary-light-10);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

a.dv-text-phone, .dv-text a.dv-text-phone {
    font-size: 14px;
    font-weight: bold;
}

p,
td {
    font-family: opensans;
    color: #686969;
    color: var(--primary-light);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 24px
}

bold {
    font-weight: 700;
}

small,
small > a {
    font-family: opensans;
    color: #686969;
    color: var(--primary-light);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px
}

small > a {
    color: rgb(221, 24, 32);
    color: var(--primary-dark);
}

h1 {
    font-family: opensans;
    color: #686969;
    color: var(--primary-light);
    font-size: 32px;
    font-weight: 700px;
    line-height: 48px;
    margin: 0;
}

h2 {
    font-family: opensans;
    color: #686969;
    color: var(--primary-light);
    font-size: 24px;
    font-weight: 700px;
    line-height: 48px;
    margin: 0;
}

h3 {
    font-family: opensans;
    color: #686969;
    color: var(--primary-light);
    font-size: 18px;
    font-weight: 700px;
    line-height: 24px;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    text-decoration: none;
    outline: none;
}

ul {
    padding-inline-start: 0;
}

header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 80px;
    padding: 12px
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    main {
        max-width: 700px;
    }
}

@media screen and (max-width: 920px) {
    main {
        max-width: 600px;
    }
}


@media screen and (max-width: 780px) {
    main {
        max-width: 500px;
    }
}

@media screen and (max-width: 550px) {
    main {
        max-width: 360px;
    }
}

@media screen and (max-width: 360px) {
    main {
        max-width: 250px;
    }
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.dv-hamburger {
    display: none;
}

.dv-hamburger.dv-hamburger--hidden {
    display: none;
}

.dv-hamburger svg {
    fill: var(--primary-dark);
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 780px) {
    .dv-navigation {
        display: none;
    }

    .dv-hamburger {
        display: block;
    }
}

p > a {
    border-bottom: 1px solid;
    color: rgb(221, 24, 32);
    color: var(--primary-dark);
}

.dv-home {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(221,24,32, 0.8);
    color: var(--primary-dark-80);
}

@media screen and (max-width: 780px) {
    .dv-main-nav__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.dv-main-nav__wrapper .dv-close-icon svg {
    fill: var(--primary-dark);
}

.dv-main-nav__wrapper .dv-close-icon.dv-close-icon--hidden {
    display: none;
}

.dv-navigation--mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 99px;
    z-index: 2;

    background-color: white;
    border-top: 1px solid var(--primary-light-01);

    width: 100%;
    height: calc(100vh);
}

.dv-navigation--mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dv-navigation--mobile li {
    margin-bottom: 24px;
}

.dv-navigation--mobile .dv-button {
    display: block;
}

.dv-main-nav--sticky {
    background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dv-header-image img {
    filter: blur(2px);
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.dv-space {
    height: 50px;
    width: 100%;
}

.dv-logo {
    height: 80px;
}

.dv-navigation__list {
    display: flex;
    flex-direction: row;
}

.dv-navigation__list .dv-navigation__item:hover {
    color: rgba(221, 24, 32);
    color: var(--primary-dark);
}

.dv-navigation__item {
    padding: 0 30px
}

@media screen and (max-width: 920px) {}

.dv-button {
    padding: 6px 16px;
    border-radius: 18px;
    color: white;
    background-color: rgba(221,24,32, 0.8);
    background-color: var(--primary-dark-80);
}

.dv-button:hover {
    background-color: white;
    border-color: rgba(221, 24, 32);
    border: 1px solid var(--primary-dark);
    padding: 4px 15px;
}

.dv-navigation__item.dv-button:hover {
    color: rgba(221, 24, 32);
    color: var(--primary-dark);
}

.dv-title {
    margin: 24px 0;
}

.dv-title--center {
    text-align: center;
}

.dv-text {
    margin-bottom: 24px;
}

.dv-text a {
    font-weight: 500;
    font-size: 14px;
}

.dv-text p {
    margin: 4px;
}

.dv-text__title {
    margin-bottom: 12px;
}

.dv-text--red {
    color: rgba(221, 24, 32);
    color: var(--primary-dark);
    font-weight: bold
}

.dv-text-section {
    margin-bottom: 56px;
}

.dv-text-section--center {
    text-align: center;
}

.dv-text-section--border {
    border-color: rgba(221,24,32, 0.8);
    border: 3px solid var(--primary-dark-80);
    box-shadow: 5px 5px rgba(221,24,32, 0.8);
    box-shadow: 5px 5px var(--primary-dark-80);
    border-radius: 12px;
    padding: 16px;
}

.dv-text-icon {
    display: flex;
    align-content: center;
    margin-bottom: 24px;
}

.dv-text-icon .dv-text-icon__icon > svg {
    width: 120px;
    height: 120px;
    fill: rgba(221,24,32, 0.8);
    fill: var(--primary-dark-80);
}

.dv-text-icon .dv-text-icon__text {
    margin-right: 100px;
}

@media screen and (max-width: 700px) {
    .dv-text-icon {
        flex-direction: column-reverse;
    }

    .dv-text-icon__icon {
        text-align: center;
        margin-bottom: 45px;
    }

    .dv-text-icon .dv-text-icon__text {
        margin-right: 0;
    }
}

.dv-text-section--border p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.dv-text-section--filled {
    color: white;
    background-color: rgba(221,24,32, 0.8);
    background-color: var(--primary-dark-80);

    border-radius: 12px;
}

.dv-text-section--filled > h1,
.dv-text-section--filled a,
.dv-text-section--filled p {
    color: white;
}

.dv-pop-up {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
}

.dv-pop-up--hidden {
    display: none;
}

.dv-pop-up__item {
    max-width: 700px;
    margin: 100px auto 0;
    background-color: white;
}

.dv-close-icon {
    text-align: right;
}

.dv-close-icon svg {
    min-width: 24px;
    min-height: 24px;
}

.dv-close-icon svg:hover {
    cursor: pointer;
}

.dv-component-wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .dv-component-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 24px;
    }
}

@media screen and (max-width: 960px) {
    .dv-component-wrapper {
        display: block;
    }
}

.dv-offer-list li {
    font-family: opensans;
    color: #686969;
    color: var(--primary-light);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    list-style-type: circle;
}

.dv-offer-list {
    max-width: 300px;
}

.dv-offer-list li {
    word-break: break-all;
    word-wrap: break-word;
    padding: 5px;
    margin: 0;
}

.dv-offer-list p {
    margin: 0;
}

.dv-footer-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;

    text-align: center;
}

.dv-footer-nav {
    margin-bottom: 16px;
}

.dv-footer-nav h3 {
    margin-bottom: 12px
}

.dv-footer-nav p {
    margin: 0;
}

.dv-calendar-icon svg {
    /*    display: inline-block;*/
    width: 33px;
    height: 33px;
}

.dv-hours-table {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 24px;
}

.dv-hours-table td {
    border-color: rgba(0,0,0,0.125);
    border-bottom: 1px solid var(--primary-light-01);
    padding: 14px 24px;

}

.dv-hours-table tr:last-child td {
    border: none;
}

/* --- ICONS --- */

svg.dv-icon--info {
    fill: rgba(221,24,32, 0.8);
    fill: var(--primary-dark-80);
}
